<!-- Button trigger modal -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>
        <%= @restaurant.name %>: Edit Menu
      </h2>
      
      <div>
        <% @menucategories.each do |category| %>
          <table class="table table-condensed">
          <%= simple_form_for [@restaurant, category] do |f| %>
            <tr>
              <th>
                <%= f.input :name, label: false %>
              </th>
              <th>
                <%= f.button :submit, "Update", class: "btn-sm" %>
              </th>
            </tr>
          <% end %>
            <% category.menuitems.each do |item| %>
              <%= simple_form_for [@restaurant, item] do |f| %>
                <tr>
                  <td><%= f.input :name, label: false %></td>
                  <td><%= f.input :description, label: false %></td>
                  <td class="medium-column"><%= f.input :price, label: false %></td>
                  <td><%= f.button :submit, "Update", class: "btn-sm" %></td>
                  <td>
                    <%= link_to "x", restaurant_menu_item_path(@restaurant, item), method: :delete, class: "btn-sm btn btn-danger" %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="well text-center">
        <h2>Add Items</h2>
        <p><%= button_tag "Add Category", class: "btn btn-primary", data: {toggle: "modal", target:"#addCategory"} %></p>
        <p><%= button_tag "Add Menu Item", class: "btn btn-primary", data: {toggle: "modal", target:"#addItem"} %></p>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Item -->
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Menu Item</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@restaurant, @menu_item] do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :price %>
          <%= f.input :menucategory, label: "Category", collection: @menucategories, as: :radio_buttons, label_method: :name, value_method: :id %>
          <%= f.button :submit, "Add Item" %>
        <% end %>
       
      </div>
    </div>
  </div>
</div>

<!-- Modal Add Category -->
<div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Category</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@restaurant, @category] do |f| %>
          <%= f.input :name %>
          <%= f.button :submit, "Add Category" %>
        <% end %>
       
      </div>
    </div>
  </div>
</div>